/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px; /* Assure-toi que l'image soit carrée */
  border-radius: 50%; /* Rend les coins arrondis pour former un cercle */
  object-fit: cover; /* Pour s'assurer que l'image soit bien contenue dans le cercle */
}
.card-body {
  background: rgba(240, 231, 231, 0.2); /* Fond transparent */
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Section pour les styles de la page de connexion */
.connexion-page {
  background: url("/Images/background_salon.png") no-repeat center center fixed;
  background-size: cover;
}



/* Section pour les styles de la page d'inscription */
.inscription-page {
  background: url("/Images/background_inscription.png") no-repeat center center fixed;
  background-size: cover;
}
